:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray500: hsl(0, 0%, 42%);
  --gray900: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--yellow);
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 25vw;
  padding: 1.5rem;
  background-color: var(--white);
  border: 2px var(--gray900) solid;
  border-radius: 30px;
  box-shadow: 10px 10px var(--gray900);
}
